<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- log4net的定义 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="JLog" type="log4net.Appender.RollingFileAppender">
      <!--日志的路径-->
      <file value="log\JLog.log" />
      <!--是否追加，默认是追加true,false:覆盖-->
      <appendToFile value="false" />
      <!--设置无限备份=-1 ，最大备份数为1000-->
      <maxSizeRollBackups value="10" />
      <!--日志文件最大大小-->
      <maximumFileSize value="2MB" />
      <!--文件滚动选项Date表示根据日期来滚动-->
      <rollingStyle value="Size" />
      <!--名称是否可以更改为false为可以更改-->
      <staticLogFileName value="true" />
      <!--文件滚动周期（每时创建新日志文件）-->
      <datePattern value="ddHH&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--%date RunTime:%-10r -[%thread] [%-5p] - %message%newline(%)-->
        <ConversionPattern value="%date [%thread] [%-5p] - %message %newline" />
      </layout>
    </appender>
    <appender name="ConsolAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d{yyyy/MM/dd HH:mm:ss,fff} %t %c %X{rquid}- %m%n" />
      </layout>
    </appender>
    <logger name="WLog" additivity="false">
      <level value="All" />
      <appender-ref ref="JLog" />
      <appender-ref ref="ConsolAppender" />
    </logger>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>